<p>
  blog-list works!
</p>

<ul>
  <li>
    <div class="text-right">
      <span>list of posted articles </span>
      <button class="btn btn-success" (click)="newBlog()">new Blog</button>
      </div>
  </li>
  <!--test date {{testDate}} -->
  <li class="list-group-item blog"
    *ngFor="let blog of blogs; let i = index">
    <span class="author">Posted title: {{blog.title}}</span>
    <span class="description">{{blog.description}}</span>
    <span class="blog-posted">{{blog.createDate | date}}</span>
    <div class="text-right">
      <button class="btn btn-update" (click)="updateBlog(blog._id)">Edit</button>
      <button class="btn btn-warning" (click)="deleteBlog(blog._id)">Delete</button>
    </div>
  </li>
    <!--<li class="list-group-item blog">
    
    <span class="author">Posted title: A</span>
    <span class="description">A</span>
    <span class="blog-posted"> A</span>
    <div class="text-right">
      <button class="btn btn-update">Edit</button>
      <button class="btn btn-warning">Delete</button>
    </div>
  </li>-->
</ul>
