<p>
  blog-list works!
</p>

<ul>
  <li><span>list of posted articles </span>
      <button class="btn btn-success">new Blog</button>
  </li>
  <!--test date {{testDate}}-->
  <li class="list-group-item blog"
    *ngFor="let blog of blogs">
    <span class="author">Posted By: {{blog.name}} A</span>
    <span class="description">{{blog.description}} B</span>
    <span class="blog-posted">{{blog.createDate | date}} C</span>
  <!--</li>
    <li class="list-group-item blog">
    <span class="author">Posted By:  A</span>
    <span class="description"> B</span>
    <span class="blog-posted"> C</span>
  </li>-->
</ul>
