<div class="container">
  <form action="" class="form-group">
     <div>
      <label for="title">Title:
        <input type="text"  class="form-control title" name="title"/>
      </label>
    </div>
    <div>
      <label for="description">Description:
        <textarea type="text" cols="555" rows="10" class="form-control description" name="description"></textarea>
      </label>
    </div>
        <!--<label for="title">Title:
      <textarea type="text"  class="form-control" [formControl]="blog-description"/>
    </label>-->
  </form>
  <button class="btn btn-success btn-save">Save</button>
  <button class="btn btn-warning">Cancel</button>
</div>
